.mark-img {
    margin: 0px 20px;


}

.mark-img img {
    width: 100%;
}

.mark-area {
    margin: 40px 50px 40px 50px;
}

.mark-area h2 {
    font-weight: bold;
    margin-bottom: 30px;
    font-family: cursive;
}

@media(max-width:767px) {
    .mark-area h2 {
        font-weight: bold;
        margin-bottom: 30px;
        margin-left: 20px;
        font-family: cursive;
    }

    .mark-img {
        margin: 0px;
        width: 60%;
    }

    .mark-area {
        margin: 0px;
    }
}